# One Dimensional Statistics

In [1]:
import numpy as np
import math
from collections import Counter
# Example dataset
x = num_friends = [100.0,49,41,40,25,21,21,19,19,18,18,16,15,15,15,15,14,14,13,13,13,13,12,12,11,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,8,8,8,8,8,8,8,8,8,8,8,8,8,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]

#### Mean & Median

In [4]:

print(np.mean(x))
print(np.median(x))

7.333333333333333
6.0

#### Quantile

In [6]:
print(np.quantile(x, .25))  # Print the 25th quantile
print(np.quantile(x, .8))  # Print the 80th quantile

# Print the interquartile range between two quantiles
print((np.quantile(x, .75) - np.quantile(x, .25)))

3.0
9.0
6.0

#### Range (Spread)

In [8]:
print((max(x) - min(x)))

99.0

### Variance & Standard Deviation

In [9]:
# Variance
print(np.var(x))
# Standard Deviation
print(np.std(x))

81.14379084967321

## Correlation (and Covariance)
- Correlation: Standardized, between -1 and 1. Helpful for **direction** and **strength** of relationship.
- Covariance: Measures how much they differ in units, Helpful *only* for **direction**.

Interpretation:
- x > 0: Positive Linear Relationship (both variables move together)
- x = 0: No Linear Relationship between variables
- x < 0: Negative Linear Relation (as one variable increases, the other decreases)

In [ ]:
# NOTE: Could also use statistics module
# Sample Data
A = [3, 6, 4]
B = [7, 12, -9]
# Print the covariance between A & B
print(np.cov(A, B))

# Print the correlation (coefficient) between A & B
print(np.corrcoef(A, B))

# Find the variance between one variable
print(np.var(A))

#### Pandas transpose function

In [12]:
import pandas as pd
# Creating sample dataset
df = pd.DataFrame({ 'year': [2010, 2011, 2012, 2010, 2011, 2012, 2010, 2011, 2012],'team': ['FCBarcelona', 'FCBarcelona','FCBarcelona', 'RMadrid','RMadrid', 'RMadrid','ValenciaCF', 'ValenciaCF','ValenciaCF'],'wins':[30 , 28 , 32 , 29 , 32 , 26 , 21 , 17 , 19] ,'draws': [6 , 7 , 4 , 5 , 4 , 7 , 8 , 10 , 8] ,'losses': [2 , 3 , 2 , 4 , 2 , 5 , 9 , 11 , 11]})
# Transposing (swapping rows & columns)
df.transpose()  # Alternatively, df.T

,0,1,2,3,4,5,6,7,8
year,2010,2011,2012,2010,2011,2012,2010,2011,2012
team,FCBarcelona,FCBarcelona,FCBarcelona,RMadrid,RMadrid,RMadrid,ValenciaCF,ValenciaCF,ValenciaCF
wins,30,28,32,29,32,26,21,17,19
draws,6,7,4,5,4,7,8,10,8
losses,2,3,2,4,2,5,9,11,11

##### For detailed examples, see Module4_1 Lecture Notes